<div class="auth-sign">
  <div *ngIf="isError" class="error">
    {{ errorText }}
  </div>
  <div class="error" *ngIf="emptyField">
    Please enter valid values to all fields!!!
  </div>
  <h2 style="text-align: center">Log In</h2>
  <form [formGroup]="loginForm">
    <label for="email">Email</label>
    <input class="form-input" type="email" formControlName="email" />
    <div *ngIf="form.email.errors && form.email.touched">
      <span class="error">Enter valid email</span>
    </div>
    <label for="password">Password</label>
    <input class="form-input" type="password" formControlName="password" />
    <div *ngIf="form.password.errors && form.password.touched">
      <span class="error">
        Password must contain at least 8 chars and must contain one uppercase,
        one number and one special char
      </span>
    </div>
    <input class="blog-button" type="submit" value="Submit" (click)="loginValidateAndAccess()"/>
  </form>
  <div class="auth-footer">
    Create an account! <span (click)="showSignup()">Sign Up</span>
  </div>
</div>
