<div class="blog-container">
  <div class="home-blogs">
    <div *ngIf="isError" class="error">
      {{ errorText }}
    </div>
    <div *ngFor="let blog of data$ | async">
      <a [routerLink]="['/blog', blog._id]" routerLinkActive="router-link-active">
        <div class="blog">
          <div class="created-by">
            <span> {{ blog.userId.username | titlecase }}</span> <span> {{ blog.createdAt | date }} </span>
          </div>
          <div class="title">
            {{ blog.title | titlecase }}
          </div>
          <div class="tags">
            <span *ngFor="let tag of getTags(blog.tags) | async">
              <span class="tag">
                #{{ tag }}
              </span>
              &nbsp;
            </span>
          </div>
          <span class="likes"><ion-icon name="heart"></ion-icon> {{ blog.meta.like }} </span>
        </div>
      </a>
    </div>
  </div>
</div>
