@import '../../shared/variables.scss';

.home-blogs {
  font-family: "Playfair Display", serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow-wrap: break-word;
  gap: 10px;
  .likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    ion-icon {
      color: rgb(243, 45, 45);
    }
    font-size: 18px;
  }
  .blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(186, 187, 183, 0.13);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 16px;

    &:nth-child(1) {
      grid-column: span 2;
      grid-row: span 1;
    }
  }

  .created-by {
    display: flex;
    font-size: 12px;
    color: rgb(87, 84, 84);
    justify-content: space-between;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .tags {
    font-size: 12px;

    .tag {
      color: rgb(56, 45, 45);
      background: $yellow;
    }
  }
}
