@import "../../shared/variables.scss";

.nav {
  display: flex;
  font-family: "Nunito", sans-serif;
  justify-content: space-between;
  flex-wrap: wrap;
  color: black;
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  li.logo {
    font-size: 18px;
    font-weight: bold;
  }

  ul li {
    list-style: none;
    margin-right: 24px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    gap: 10px;

    &:hover {
      .content {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
        background: white;
      }
    }
  }

  .content {
    display: none;
    border: 1px solid black;
    position: absolute;
    min-width: 100px;
    right: 18px;
    z-index: 2;
    border-radius: 2px;
    padding: 0 10px; // top-bottom left-right

    a {
      padding: 12px 16px;
    }
  }
}

ion-icon {
  cursor: pointer;

  &:hover {
    color: $gray;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  gap: 10px;

  &:hover {
    .content {
      display: flex;
      padding: 8px;
      flex-direction: column;
      cursor: pointer;
      align-items: center;
      background: white;
    }
  }
}

.content {
  display: none;
  border: 1px solid black;
  position: absolute;
  min-width: 100px;
  right: 18px;
  z-index: 2;
  border-radius: 2px;
  padding: 0 10px; // top-bottom left-right

  a {
    padding: 12px 16px;
  }
}

@media (max-width: 550px) {
  .nav {
    justify-content: start;
    gap: 0;
  }

}
