<header>
  <nav class="nav">
    <ul>
      <li class="logo">
        <span style="cursor: pointer;" (click)="navigateToHome()">Blogify</span>
      </li>
    </ul>
    <ul>
      <li>
        <button class="blog-button" (click)="navigateToEditor()"> Write a blog</button>
      </li>
      <li>
        <button class="blog-button" (click)="navigateToHome()" >Blogs</button>
      </li>
      <li>
        <div *ngIf="userLoggedIn; else loggedOut">
          <div class="dropdown">
            <ion-icon class="user-profile" size="large" name="person-circle-outline"></ion-icon>
            <div class="content">
              <a href="#">Hey, {{ getUsername | titlecase }}</a>
              <a [routerLink]="['/u/myblogs']" >My Blogs</a>
              <button class="blog-button" (click)="logOut()"> Logout</button>
            </div>
          </div>
        </div>
        <ng-template #loggedOut>
          <button class="blog-button" (click)="navigateToAuth()"> Login / Sign Up</button>
        </ng-template>
      </li>
    </ul>
  </nav>
</header>
