.container {
  display: grid;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

::ng-deep form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
  input:not([type="submit"]) {
    font-family: inherit;
    font-style: italic;
    font-size: 16px;
  }
  input[type="submit"] {
    font-size: 16px;
  }
  .blog-button {
    margin: 0 auto;
  }
  input {
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
  }
}

::ng-deep .auth-sign {
  padding: 16px;
  border-radius: 3px;
  padding-bottom: 24px;
  .auth-footer {
    text-align: center;
    font-size: small;
    padding: 16px;
    span {
      cursor: pointer;
      font-size: 16px;
      color: rgb(77, 132, 235);
    }
  }
}

