.loading {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 3px solid rgba(0, 0, 0, .8);
  border-radius: 50%;
  border-top-color: rgb(255, 255, 255);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  z-index: 1;
  position: fixed;
  margin: 200px 50%;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
