<span class="input-submit">
  <input [hidden]="blogEdit" class="btn-post" type="submit" (click)="postBlog()" value="Post" />
  <input [hidden]="!blogEdit" class="btn-post" type="submit" (click)="postEditedBlog()" value="Save" />
  <br> <br>
  <input class="btn-post" type="submit" (click)="preview = !preview" value="Preview" />
</span>
<div class="blog-container" [hidden]="preview">
  <div class="editor-container">
    <div *ngIf="isError" class="error">
      {{ errorText }}
    </div>
    <form [formGroup]="blog">
      <div *ngIf="blogData.title.errors && blogData.title.touched">
        <span>
          <span class="error">title can't be empty (min char: 5)</span>
        </span>
      </div>
      <div class="title">
        <textarea class="editor-title" type="text" formControlName="title" placeholder="Title here..."></textarea>
      </div>

      <div *ngIf="blogData.tags.errors && blogData.tags.touched">
        <span>
          <span class="error">tags can't be empty (min char: 5)</span>
        </span>
      </div>
      <div class="tags">
        <textarea class="editor-tags" type="text" formControlName="tags"
          placeholder="Add up to 4 tags... (separated by commas)"></textarea>
      </div>

      <div *ngIf="blogData.body.errors && blogData.body.touched">
        <span>
          <span class="error">body can't be empty (min char: 30)</span>
        </span>
      </div>
      <div class="body">
        <textarea class="editor-body" type="text" rows="50" formControlName="body"
          placeholder="Write Your post content here..."></textarea>
      </div>
    </form>
  </div>
</div>

<div class="blog-container" [hidden]="!preview">
  <div class="editor-container">
    <div class=blog-grid>
      <div class="preview-body">
        <div class="editor-title">
          {{ blog.value.title }}
        </div>
        <div class="editor-tags">
          {{ blog.value.tags }}
        </div>
        <br>
        <div class="editor-body" style="white-space: pre-line">
          {{ blog.value.body }}
        </div>
      </div>
    </div>
  </div>
</div>

<script>

</script>
