@import '../shared/variables.scss';
.editor-container {
  margin: 0 auto;
  padding: 12px;
  width: 70%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  overflow-wrap: break-word;

  label {
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    background: rgb(183, 114, 247);
  }
}

.editor-title {
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  height: 2.5em;
  overflow-y: hidden;
  overflow-wrap: break-word;
}

.editor-tags {
  color: purple;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  height: 30px;
}

.editor-body {
  font-size: 18px;
  color: black;
  width: 100%;
  white-space: pre-line;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: black white;
  overflow-wrap: break-word;
  word-spacing: 3px;
  line-height: 1.5;
  word-spacing: 4px;
  line-height: 1.8;
  ::-webkit-scrollbar-thumb {
    background: #666;
  }
}

textarea {
  font-family: "Playfair Display", serif;
  resize: none;
  border: none;
  outline: none;
  overflow-wrap: break-word;
  text-align: justify;
}

.btn-post {
  color: white;
  background: rgb(83, 80, 80);
  cursor: pointer;
  border: none;
  height: auto;
  width: 5em;
  border-radius: 50%;
  height: 5em;
  font-size: 14px;
  &:hover {
    transition: $transition-timing;
    background-color: black;
    color: white;
  }
}

.input-submit {
  position: absolute;
  margin-top: 5%;
  left: 76%;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 550px) {
  .input-submit {
    position: absolute;
    margin-top: 5%;
    margin-left: 30%;
    left: 1%;
  }
  .flex {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }
  .editor-container {
    margin-top: 20%;
  }
}
