<div class="auth-sign">
  <div *ngIf="isError" class="error">
    {{ errorText }}
  </div>
  <div class="error" *ngIf="emptyField">
    Please enter valid values to all fields
  </div>
  <h2 style="text-align: center;">Sign Up</h2>
  <form [formGroup]="signUpForm">
    <label for="username">Name</label>
    <input class="form-input" type="text" formControlName="username" required/>
    <div *ngIf="form.username.errors && form.username.touched">
      <span class="error">Please enter valid username</span>
    </div>
    <label for="email">Email</label>
    <input class="form-input" type="email" formControlName="email" />
    <div *ngIf="form.email.errors && form.email.touched">
      <span class="error">Enter valid email</span>
    </div>
    <label for="password">Password</label>
    <input class="form-input" type="password" formControlName="password" />
    <div *ngIf="form.password.errors && form.password.touched">
      <span class="error">Password must contain at least 8 chars and must contain one uppercase, one number and one
        special char</span>
    </div>
    <input class="blog-button" type="submit" value="Submit" (click)="signupValidateAndSave()" />
  </form>
  <div class="auth-footer">Alreay have an account? <span (click)="showLogin()">Login</span></div>
</div>
