<div class="blog-container">
  <div class="blog-grid" *ngIf="data$ | async as blog">
    <div class="created-by">
      <span>{{ blog.userId.username | titlecase }}</span> <span>{{ blog.createdAt | date }}</span>
      <span style="cursor: pointer;" (click)="like(blog._id)"><ion-icon size="large" name="heart{{ fill }}"></ion-icon></span> {{ blog.meta.like }}
    </div>
    <div class="blog-body">
      <div class="title">
        {{ blog.title }}
      </div>
      <div class="tags">
        <span *ngFor="let tag of getTags | async">
          <span class="tag">
            #{{ tag.trim() }}
          </span>
          &nbsp;
        </span>
      </div>
      <br>
      <div class="blog-body">
        {{ blog.body }}
      </div>
    </div>
  </div>
</div>
