@import "../../shared/variables.scss";

.blog-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 10% 10% 70%;
  grid-template-areas: "createdby gap blogbody";

  ion-icon {
    color: rgb(243, 45, 45);
  }
  .created-by {
    display: flex;
    flex-direction: column;
    gap: 12px;
    place-items: center;
    margin-top: 10%;
    color: $gray;
    grid-area: createdby;
    position: fixed;
    padding: 10px;
    padding-right: 50px;
    border-right: 2px solid black;
  }

  .blog-body {
    grid-area: blogbody;
    white-space: pre-line;
    word-spacing: 3px;
    line-height: 1.8;
    overflow-wrap: break-word;
    font-size: 18px;

    .title {
      font-size: 30px;
      font-weight: bold;
    }

    .tags {
      font-size: 12px;

      .tag {
        color: rgb(56, 45, 45);
        background: $yellow;
      }
    }

    .body {
      font-size: 20px;
    }

    * {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 550px) {
  .blog-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 0 0 100%;
    grid-template-areas: "createdby gap blogbody";
    padding: 5px;
    .created-by {
      grid-area: createdby;
      display: flex;
      flex-direction: column;
      position: absolute;
    }
    .blog-body {
      grid-area: blogbody;
      .title {
        margin-top: 30%;
      }
    }
  }
}
