
@import '../../shared/variables.scss';

.blog-preview {
  padding: 10px;
  border-bottom: 1px solid $gray;
  overflow-wrap: break-word;

  .created-by {
    display: flex;
    font-size: 14px;
    color: rgb(87, 84, 84);
    justify-content: space-between;
    padding-bottom: 10px;;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .tags {
    font-size: 12px;

    .tag {
      color: rgb(56, 45, 45);
      background: $yellow
    }
  }

  .edit {
    position: absolute;
    right: 15%;
    z-index: 1;
  }

  .delete {
    position: absolute;
    z-index: 1;
    right: 7%;
  }
}

a {
  color: black;
}
