<div class="blog-container">
  <div *ngIf="show">
    You havn't written any blog.
  </div>
  <div class="blog-list-structure">
    <div *ngFor="let blog of data$ | async">
      <div class="blog-preview">
        <div class="created-by">
          <span>{{ blog.userId.username | titlecase}}</span>
          <span>{{ blog.createdAt | date }}</span>
        </div>
        <div class="title">
          <a [routerLink]="['/blog', blog._id]">
          {{ blog.title | titlecase }}
        </a>
          <span class="edit">
            <a [routerLink]="['/u/blog/edit', blog._id]">
              <ion-icon name="create-outline"></ion-icon>
            </a>
          </span>
          <span class="delete">
            <span style="cursor: pointer;" (click)="deleteBlog(blog._id)">
              <ion-icon name="trash-outline"></ion-icon>
            </span>
          </span>
        </div>
        <div class="tags">
          <span *ngFor="let tag of getTags(blog.tags) | async">
            <span class="tag">
              #{{ tag }}
            </span>
            &nbsp;
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
