@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&display=swap");
@import "./app/shared/variables.scss";

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.8px;

  ::selection {
    background-color: #f1c40f;
    color: white;
  }
}
.blog-container {
  padding: 3%;
}

.blog-button {
  color: $gray;
  background: white;
  border: 0.5px solid $gray;
  border-radius: 3px;
  width: fit-content;
  padding: 8px;
  cursor: pointer;
  box-shadow: -10px 6px 54px 18px rgba(30, 30, 60, 0.09);
  transition: $transition-timing;
  &:hover {
    background-color: $gray;
    color: white;
  }
}
.error {
  font-size: 11px;
  color: rgb(219, 71, 71);
}

a {
  text-decoration: none;
  color: black;
}
